.wrapper {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.side {
  flex: 1;
}
